<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block title %}Entra la nova contrasenya{% endblock %}

{% block content %}

{% if validlink %}

<h1>Ajusta la nova contrasenya!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="btn" type="submit" value="Canvia la contrasenya">
</form>

{% else %}

<p>El link que ens has enviat és invàlid, possiblement ja ha estat utilitzat. Sisplau, demana un nou canvi de contrasenya.</p>

{% endif %}
{% endblock %}