{% extends 'base.html' %}

{% block extra_css %}
.collection-header {
    background-color: #b3e5fc !important;
}

.comment-box {
    /*border-top: 1px solid gray;*/
    border-bottom: 1px solid gray;
}

.comment-form {
    display: none;
}

.anchor {
    color: black;
}

{% endblock %}

{% block content %}

<script type="text/javascript">
    function toggle_comment(form_num) {
        var elem = $("#comment-form-"+form_num);

        if( elem.css("display")=="none" ) {
            // colapsem tota la resta d'elements
            $(".comment-form").css("display","none");
            // activem el que hem triat
            elem.css("display","block");
        }
        else
            elem.css("display","none");
    }
</script>


  <div class="container">
    <div class="section">
        <!--h2>Projecte</h2-->
        <div>
            <a href="/scrum/projectes"><i class="material-icons">arrow_back</i>Tornar a la llista de projectes</a>
        </div>

        <div class="card-panel light-blue lighten-4">
	        <h3>{{projecte.nom}}</h3>
	        <p>Centre: <b>{{projecte.centre}}</b></p>
	        <p>Cicle: <b>{{projecte.cicle}}</b></p>
	        <p>Inici: {{projecte.inici}}</p>
	        <p>Final: {{projecte.final}}</p>
        </div>

        <div class="card-panel light-blue lighten-4">
        	<h4>Mòduls Professionals implicats</h4>
        	{% for mp in mps %}
        		{{mp.nom}}<br>
        	{% endfor %}
        </div>

        <div class="card-panel light-blue lighten-4">
        	<h4>Descripció</h4>
        	{{projecte.descripcio | safe}}
        </div>

        <div class="specs">


        {% for sprint in projecte.sprint_set.all %}

        	<ul class="collection with-header">
	        	<li class="collection-header">

	        		<h4><a class="anchor" id="sprint-{{sprint.id}}">{{sprint.nom}}</a></h4>
	        		<p>Inici: {{sprint.inici}}</p>
	        		<p>Final: {{sprint.final}}</p>
                    <p>Hores estimades: {{sprint.hores}}</p>
	        	</li>
        	{% for spec in sprint.specs.all %}
        		<li class="collection-item">
        			<h6 style="font-weight: bold;">
                        <a class="anchor" id="sprint-{{sprint.id}}-spec-{{spec.ordre}}">
        				{{spec.ordre}}. {{spec.nom}}
                        </a>
        			</h6>
    				<div>
    					{{spec.descripcio|safe}}
    				</div>
        			<div>
        				<p><a>hores estimades: {{spec.hores_estimades}}</a>
        					Mòduls:
        					{% for mp in spec.mp.all %}
        						{{mp.nom|slice:"0:4"}}
        					{% endfor %}
        				</p>
        			</div>
                    {% if not request.user.is_anonymous %}
                    <div class="comments">
                        <h6>Comentaris</h6>
                        {% for coment in spec.feedbacks.all  %}
                        <div class="comment-box row">
                            <div class="col s3">
                                <i class="material-icons">alarm</i>
                                {{coment.hores}} Hores reals
                            </div>
                            <div class="col s9">
                                <i class="material-icons">comment_bank</i>
                                <div>{{coment.desc|safe}}</div>
                            </div>
                        </div>
                        {% endfor %}
                        <p>Afegir comentari:
                            <i class="material-icons" onclick="toggle_comment({{spec.id}})">read_more</i>
                        </p>
                        <div class="comment-form row" id="comment-form-{{spec.id}}">
                            <form method="post" action="#sprint-{{sprint.id}}-spec-{{spec.ordre}}">
                                {% csrf_token %}
                                <div class="col s2">
                                    <i class="material-icons">alarm</i>
                                    <label for="hores">Hores reals</label>
                                    <input type="number" name="hores" />
                                </div>
                                <div class="col s10">
                                    <i class="material-icons">comment_bank</i>
                                    <label for="desc">Comentari</label>
                                    <textarea name="desc" class="materialize-textarea"></textarea>
                                </div>
                                <input class="col s3" type="submit" value="Envia comentari" />
                            </form>
                        </div>
                    </div>
                    {% endif %}
        		</li>
        	{% endfor %}
        	</ul>

        {% endfor %}

        </div>

        <div>
            <a href="/scrum/projectes"><i class="material-icons">arrow_back</i>Tornar a la llista de projectes</a>
        </div>

    </div>
  </div>

{% endblock %}

