{% extends 'base.html' %}


{% block content %}

  <div class="container">
    <div class="section">
		<h2>Projectes Scrum</h2>

		<table>
			<thead>
				<tr>
					<td>Nom projecte</td>
					<td>Dates inici - final</td>
					<td>Go!</td>
				</tr>
			</thead>
		{% for projecte in projectes %}
			<tr>
				<td><a class="title" href="{% url 'projecte' projecte.id %}">{{projecte.nom}}</a></td>
				<td><span class="lighten-3">Inici: {{projecte.inici}} <br>Final: {{projecte.final}}</span></td>
				<td><a class="secondary-content" href="{% url 'projecte' projecte.id %}">
					<i class="material-icons">send</i></a>
				</td>
			</tr>
		{% endfor %}
		</table>

	</div>
</div>

{% endblock %}


