{% extends 'base.html' %}

{% block extra_css %}
	.input-field.col {
		margin: 0 15px 0 0;
		padding: 0;
	}
	.input-field select {
		height: auto;
		padding: 5px 5px 5px 0;
	}
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
	$(document).ready(function() {
    $('select').formSelect();
    $('.modal').modal();
});

function crea_qualificacio(elem,equip_id) {
	var sprint_id = elem.value;
	$.ajax({
	  method: "GET",
	  url: "/scrum/api/crea_qualificacio/"+sprint_id+"/"+equip_id,
	  dataType: "json",
	}).done(function (resp) {
		//alert(JSON.stringify(resp));
		if ( resp.status!="OK" ) {
			alert("ERROR al modificar l'estat de la spec.");
			return;
		}
		location.reload();
	}).fail(function () {
		alert("ERROR en la creació de la qualificació de l'equip");
	});
}

function elimina_qualificacio(quali_id) {
	var conf = confirm("Estàs segur que vols eliminar aquesta qualificació? La operació no es podrà desfer i es perdran les dades.");
	if( !conf ) {
		return;
	}

	$.ajax({
	  method: "GET",
	  url: "/scrum/api/elimina_qualificacio/"+quali_id,
	  dataType: "json",
	}).done(function (resp) {
		//alert(JSON.stringify(resp));
		if ( resp.status!="OK" ) {
			alert("ERROR intern a l'eliminar la qualificació.");
			return;
		}
		location.reload();
	}).fail(function () {
		alert("ERROR a l'eliminar la qualificació.");
	});
}


function edita_qualificacio(qualificacio_id) {
	// check permissions (es fa al server)
	$.ajax({
	  method: "GET",
	  url: "{% url 'get_qualificacio' 0 %}"+qualificacio_id,
	  dataType: "json",
	}).done(function (resp) {
		if ( resp.status!="OK" ) {
			alert("ERROR accedint a la qualificació.");
			return;
		}
		var modalbox = $('#modal1 .modal-content');
		modalbox.empty();
		// construim HEADER (equip i membres)
		var equip = resp.qualificacio.equip;
		var membres_html = "";
		for(i in equip.membres) {
			membres_html += equip.membres[i].first_name+" "+
											equip.membres[i].last_name+" ("+
											equip.membres[i].email+")<br>";
		}
		var list = $('<ul class="collection with-header"></ul>');
		var header = $('<li class="collection-header row">\
					<h4>'+equip.nom+'</h4>'+membres_html+'</li>');
		list.append( header );
		// construim llista de DONE SPECS
		done_specs = resp.qualificacio.done_specs;
		for(var i in done_specs) {
			var checked;
			done_specs[i].done ? checked="checked" : checked="";
			var mpstring = "";
			for( j in done_specs[i].spec.mp ) {
				var mp = done_specs[i].spec.mp[j];
				mpstring += mp.nom.substring(0,4)+" ";
			}

			// creem desplegable de la nota
			var notaHTML = $("<select class='browser-default' id='nota_"+done_specs[i].id+"'></select>");
			for(var k=0; k<=100; k+=10) {
				var selected = "";
				if( !selected && done_specs[i].done>=k/100 ) selected = "selected";
				var elem = $("<option "+selected+" value='"+k+"'>"+k+"%</option>");
				notaHTML.append(elem);
			}
			notaHTML.change( function() {
				change_done_spec(done_specs[i].id);
			});
			wrappedNota = $('<div class="input-field col s1">\
				</div>');
			wrappedNota.append(notaHTML);

			// item d'avaluació
			var spec = $('<li class="collection-item row" >\
					<div class="col s10">\
					<span onclick="change_done_spec('+done_specs[i].id+')" >\
						<input type="checkbox" '+checked+' id="done_spec_'+done_specs[i].id+'"/>\
						<span class="teal-text">['+done_specs[i].spec.hores_estimades+' h]</span>\
						<span>'+done_specs[i].spec.nom+'</span>\
						<span class="teal-text">'+mpstring+'</span>\
					</span>\
				</div></li>');
			spec.prepend(wrappedNota);
			list.append(spec);
		}
		modalbox.append(list);
		$("select").formSelect();
	}).fail(function () {
		alert("ERROR accedint a la qualificació de l'equip. Refresca la pantalla i torna a intentar-ho.");
	});
}

function change_done_spec(done_spec_id) {
	// capturem la dada que hi ha al desplegable
	var value = $("#nota_"+done_spec_id).val();
alert("val="+value);
	$.ajax({
	  method: "GET",
	  url: "/scrum/api/change_done_spec/"+done_spec_id+"/"+value,
	  dataType: "json",
	}).done(function (resp) {
		if ( resp.status!="OK" ) {
			alert("ERROR al modificar l'estat de la spec.");
			return;
		}
		//alert(JSON.stringify(resp));
		var done_spec_id = resp.done_spec.id;
		var checkbox = $("#done_spec_"+done_spec_id);
		var nota = resp.done_spec.done;
		// actualitzem nota
		$("#nota_"+done_spec_id).prop("selectedIndex",nota*10);
		if( nota>=1.0 ) {
			checkbox.prop("checked","checked");
		} else {
			// si no està al 100%, no s'activa
			checkbox.prop("checked",false);
		}
	}).fail(function () {
		alert("ERROR en l'actualització de la spec per a la qualificació.");
	});	
}

function end_qualifica() {
	location.reload();
}

function toggle_members() {
	var elem = $(".membersbox");
	if( elem.hasClass("hide") )
		elem.removeClass("hide");
	else
		elem.addClass("hide");
}

</script>
{% endblock %}

{# carreguem filtres extra #}
{% load scrum_extras %}


{% block content %}

  <div class="container">
    <div class="section">
		<h2>Qualifica Projectes Scrum</h2>

		<form>
  		<div class="input-field col s12">
	  		<select name="projecte_id" id="projecte" onchange="submit()">
	  			<option>--- tria un projecte ---</option>
					{% for proj in projectes %}
					{% if proj.id == projecte.id %}
						<option  selected value={{proj.id}}>{{proj.nom}}</option>
					{% else %}
  					<option value={{proj.id}}>{{proj.nom}}</option>
  				{% endif %}
					{% endfor %}
				</select>
			</div>
		</form>
	  </div>

	  {% if projecte %}
    <div class="section">
			<h3>Projecte: {{projecte.nom}}</h3>
			<label>
				<input type="checkbox" onclick="toggle_members()" id="toggle_members" />
				<span>Mostrar/Amagar membres</span>
			</label>

			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

			<a class="waves-effect waves-light right light-blue btn" href="{% url 'descarrega_qualificacions' projecte.id %}"><i class="material-icons left">file_download</i>Descarregar full de càlcul</a>

			{% for equip in projecte.equips.all %}
			<div class="row">
			  <div class="col s12 m9">
			  		<h5>{{equip.nom}}</h5>
			  		<div class="hide membersbox">
			  		{% for membre in equip.membres.all %}
			  		  &nbsp;&nbsp;&nbsp;&nbsp;{{membre.email}}<br>
			  		{% endfor %}
			  	  </div>
			  </div>

			  <div class="col s12 m3">
		  		<select onchange="crea_qualificacio(this,{{equip.id}})">
		  			<option>--- afegeix qualificació ---</option>
						{% for sprint in projecte.sprints.all %}
	  					<option value="{{sprint.id}}">{{sprint.nom}}</option>
						{% endfor %}
					</select>
					<label>Afegir qualificació</label>
			  </div>
			</div>

			<div class="row">

				{% for quali in equip.qualificacions.all %}
				<div class="col s12 m3">

		      <div class="card blue-grey darken-1">
		        <div class="card-content white-text">
		          <span class="card-title">{{quali.sprint.nom}}</span>
							<p>{{quali.specs_completades_mps_ponderat}}</p>
		        </div>
		        <div class="card-action">
						  <a class="waves-effect modal-trigger" href="#modal1" 
						 					onclick="edita_qualificacio({{quali.id}})">Editar</a>
						 	<a href="#" onclick="elimina_qualificacio({{quali.id}})">Eliminar</a>
		        </div>
		      </div>

				</div>
				{% endfor %}

			</div> <!-- row, equip -->
			{% endfor %}
    </div>
    {% endif %}

  </div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" onclick="end_qualifica()" class="modal-close waves-effect waves-green btn-flat">Tanca</a>
    </div>
  </div>

{% endblock %}


