{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if has_add_permission %}
	  <li>
	    {% url cl.opts|admin_urlname:'add' as add_url %}
	    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
	      {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
	    </a>
	  </li>
	  {% if request.path == '/admin/scrum/qualificacio/' and not request.user.es_alumne %}
		  <li>
				<a href="/scrum/qualifica">Qualifica els alumnes</a>
		  </li>
	  {% endif %}
	  
  {% endif %}
{% endblock %}
