{% extends 'base.html' %}

{% block extra_css %}
.select-wrapper input.select-dropdown {
	display: none;
}
.errorlist {
	color: red;
}
{% endblock %}

{% block content %}

  <div class="container">
    <div class="section">
		<h2>Modifica perfil d'usuari</h2>

{% include 'messages.html' %}

{% if form %}
	<p>
		{{form.instance.mostrar_imatge}}
	</p>

	<p><a class="btn" href="/change_password/">Canviar contrasenya</a></p>

	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
	    {{ form.as_p }}
	    <input class="btn" type="submit" value="Submit">
	</form>

{% endif %}


	</div>
</div>

{% endblock %}


