{% extends 'base.html' %}

{% block content %}

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Portal Integrat FP</h1>
      <div class="row center">
        <h5 class="header col s12 light">Acceptació de termes d'ús</h5>
        <p>Per poder utiltizar el portal has d'acceptar els termes d'ús</p>
        <ol>
          <li>primer</li>
          <li>segon</li>
        </ol>
      </div>
      <div class="row center">
        <a href="/tos-accepta" id="init-button" class="btn-large waves-effect waves-light">Accepto</a>
        &nbsp;&nbsp;
        <a href="/tos-refusa" id="init-button" class="btn-large waves-effect waves-light red">No accepto</a>
      </div>
      <br><br>

    </div>
  </div>


{% endblock %}

